@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.4
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

a
	color: royalblue
	&:hover
		text-decoration: none

@keyframes slideInFromLeft 
  0%
    transform: translateX(-100%)
  100%
    transform: translateX(0)

@keyframes slideInFromRight
  0%
    transform: translateX(100%)
  100%
    transform: translateX(0)

.hero
	animation: .5s ease 0s 1 slideInFromLeft

.header
	background-color: royalblue
	background-image: url('../img/bg_klass.png')
	background-repeat: no-repeat
	background-size: cover
	padding: 2rem

.h1
	font-size: 4rem
	margin: 0
	line-height: 1.2
	animation: .5s ease 0s 1 slideInFromRight
	+media-breakpoint-down(md)
		font-size: 3rem
	span
		display: inline
		background-color: $accent
		padding: 0 .5rem
		box-decoration-break: clone

.description
	font-size: 1.5rem
	color: royalblue
	margin: 2rem 0
	animation: .5s ease 0s 1 slideInFromRight
	span
		display: inline
		padding: 0.2rem .5rem
		color: #000
		background-color: #fff
		box-decoration-break: clone

.date
	font-size: 1.85rem
	text-transform: uppercase
	color: #ffffff
	animation: .5s ease 0s 1 slideInFromRight
	span
		width: 100%
		&:first-child
			font-size: 3rem
			margin-right: 1rem
		&:last-child
			display: block

.what
	padding: 3rem 0 1rem 0
	background-color: #eee
	border-top: 3rem solid $accent
	&-item
		margin-bottom: 2rem
	&-title
		text-transform: uppercase
		span
			color: #ffffff
			background-color: royalblue
			padding: 0 .5rem
		
.program
	padding: 3rem 0
	border-top: 3rem solid royalblue
	&-h2
		font-size: 2rem
		text-align: center
		padding: 0 0 2rem 0
		margin: 0
		text-transform: uppercase
	&-time
		font-size: 2rem
		margin-bottom: 1rem
	&-title
		font-weight: bold
		font-size: 1.25rem
		margin-bottom: 1rem
		text-transform: uppercase
		span
			background-color: $accent
			padding: .2rem .4rem
			box-decoration-break: clone
	&-list
		padding: 0 0 0 1.25rem
	&-list-item
		margin-bottom: .5rem
		ul
			padding-left: 1.125rem
		li
			margin-bottom: .5rem

.org
	background-color: #eee
	padding: 3rem 0
	border-top: 3rem solid $accent
	&-title
		text-align: center
		font-weight: bold
		text-transform: uppercase
		padding: 0 0 2rem 0
		span
			background-color: royalblue
			color: #ffffff
			padding: 0 .5rem
	&-wrap
		display: flex
		justify-content: space-around
		flex-wrap: wrap
	&-item
		max-width: 150px
		+media-breakpoint-down(sm)
			margin-bottom: 2rem
		&-logo
			display: flex
			justify-content: center
			align-items: center
			padding: 1rem

		&-title
			text-align: center
			padding-bottom: 1rem
		a
			color: #333333
			transition: all .25s ease
			&:hover
				color: royalblue
		
.karacheva
	border-radius: 50%

.want
	font-size: 1.25rem
	display: flex
	justify-content: center
	align-items: center
	margin-top: 2rem
	a
		border-radius: 2rem
		background-color: $accent
		color: #000
		padding: 1rem 2rem
		transition: all .25s ease
		&:hover
			background-color: darken($accent, 5)

	

.footer
	background: #333
	color: #ffffff
	padding: 1rem
	text-align: center

@import "media" // Always at the end
